<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <appSettings>
    
    <add key="applicationName"   value="ITCEEmailApplication"/>
    <add key="applicationName1"   value="ITCEEmailApplication"/>
  </appSettings>
  
<connectionStrings>
  <!--<add name="IndoGhanaConnectionString" connectionString="Data Source=.;Initial Catalog=IndoGhana;Persist Security Info=True;User ID=sa;Password=Hari@082017" providerName="System.Data.SqlClient" />-->
  <add name="IndoGhanaConnectionString" connectionString="Data Source=103.67.236.137;Initial Catalog=ITCE;Persist Security Info=True;User ID=sa;Password=Hari@082017" providerName="System.Data.SqlClient" />
  <!--<add name="IndoGhanaConnectionString" connectionString="Data Source=103.67.236.137;Initial Catalog=progenBioLogics;Persist Security Info=True;User ID=sa;Password=Hari@082017" providerName="System.Data.SqlClient" />-->
  <!--<add name="IndoGhanaConnectionString" connectionString="Data Source=103.67.236.137;Initial Catalog=indoghana;Persist Security Info=True;User ID=sa;Password=Hari@082017" providerName="System.Data.SqlClient" />-->
</connectionStrings>
  
</configuration>