@model CylnderEntities.usp_CylinderMasterGetBarcodeImage_Result

@{
    ViewBag.Title = "printbarcode";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script>
      function MyFunction()
      {
          location.href = document.referrer;
          window.print();
      }
      window.onload = MyFunction;
</script> 


    
    <div>

        
        
            @if (Model.BarcodePath != null && Model.BarcodePath != "")
            {
                <img src="@Url.Content(Model.BarcodePath)" style="width:192px;height:192px;" />
                            
            }


        </div>
