@using ReportViewerForMvc;
@{
    ViewBag.Title = "ReportCylinderDashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script>
    $(document).ready(function () {
        $('#ReportViewerForMvc').OnDrillThroughClick(function () {
            alert('hi');
        });
    });
</script>

<div class="container">
    <div class="row" style="margin-top:10px;">
       
        <div class="col-md-12 col-lg-12 col-xs-12">@Html.ReportViewer(ViewBag.CylinderDetails as Microsoft.Reporting.WebForms.ReportViewer)
        </div>
        
        @*<div class="col-md-4 col-lg-4 col-xs-12">
            @Html.ReportViewer(ViewBag.CylinderDetails as Microsoft.Reporting.WebForms.ReportViewer)

        </div>*@
    </div>
    @*<div class="row">

        <div class="col-md-4 col-lg-4 col-xs-12">

            @Html.ReportViewer(ViewBag.reportviewPstate as Microsoft.Reporting.WebForms.ReportViewer)
        </div>
    </div>*@
</div>




