<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>




    <H1>Drop DownList of Pages </H1><table border="1">
        <tr><th>DropDown Type</th><th>DropDown Value</th><th>DropDown Text</th></tr>
        <tr><td>CylinderStatus</td><td>1</td><td>Filled</td></tr>
        <tr><td>CylinderStatus</td><td>2</td><td>Empty</td></tr>
        <tr><td>CylinderStatus</td><td>3</td><td>Damaged</td></tr>
        <tr><td>TransactionType</td><td>5</td><td>Recieve</td></tr>
        <tr><td>TransactionType</td><td>6</td><td>Deliver</td></tr>
        <tr><td>TransactionType</td><td>7</td><td>Refill</td></tr>
        <tr><td>TransactionLocation</td><td>8</td><td>WareHouse</td></tr>
        <tr><td>TransactionLocation</td><td>9</td><td>Customer</td></tr>
        <tr><td>GasType</td><td>10</td><td>Argon</td></tr>
        <tr><td>GasType</td><td>11</td><td>Oxygen</td></tr>
        <tr><td>GasType</td><td>12</td><td>Co2</td></tr>
        <tr><td>GasType</td><td>13</td><td>Nitrogen</td></tr>
        <tr><td>GasType</td><td>14</td><td>Acetylene</td></tr>
        <tr>
            <td>ValveModel</td>
            <td>15</td>
            <td>
                QF6A&#x0D;
            </td>
        </tr>
        <tr>
            <td>ValveModel</td>
            <td>16</td>
            <td>
                QF2A&#x0D;
            </td>
        </tr>
        <tr>
            <td>ValveModel</td>
            <td>17</td>
            <td>
                QF4a&#x0D;
            </td>
        </tr>
        <tr>
            <td>ValveModel</td>
            <td>18</td>
            <td>
                Px32A&#x0D;
            </td>
        </tr>
        <tr>
            <td>ValveModel</td>
            <td>19</td>
            <td>
                QF6AA&#x0D;
            </td>
        </tr>
        <tr><td>ValveModel</td><td>22</td><td>Needle Valve</td></tr>
        <tr><td>BatchStatus</td><td>23</td><td>TripStart</td></tr>
        <tr><td>BatchStatus</td><td>24</td><td>TripEnd</td></tr>
        <tr><td>UOM</td><td>25</td><td>Litre</td></tr>
        <tr><td>UOM</td><td>26</td><td>Bar</td></tr>
        <tr><td>UOM</td><td>27</td><td>Kg/cm</td></tr>
        <tr><td>UOM</td><td>28</td><td>CM</td></tr>
        <tr><td>UOM</td><td>29</td><td>Kg</td></tr>
    </table>






</body>
</html>
